*{
    margin: 0;
    padding: 0;
    /* background-color: #121212; */
    color:black;
}

ul{
    list-style: none;
    color:black;
}

.wrap{

    display: flex;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: blue;
    justify-content: space-between;
}

.logo{
    padding-left: 20px;
}

.nav-link{
    color:black;
    display: flex;
    flex-direction: row;
    width: 70%;
    /* background-color: red; */
}

.menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.sub-menu{
    color:black;
    opacity: 0;
    visibility: hidden;
    background-color: pink;
}

ul li{
    border: 1px solid red;
}

.about:hover > .sub-menu{
    opacity: 1;
    visibility: visible;
    /* background-color: red; */
}

.hamburger{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border:1px solid white; */
}

.line1,.line2,.line3{
    margin-bottom: 5px;
    background-color: red;
    width:25px;
    height: 2px;
}


@media(max-width:768px){
    .nav-link{
        display: flex;
        height: 0;
        overflow: hidden;
        color:rebeccapurple;
        /* background-color: red; */
        flex-direction: column;
    }
    .menu{
        position: absolute;
        top:50px;
        
        height: 0;
        flex-direction: column;
        background-color: blue;
    }
    .sub-menu{
        /* height: 0; */
        opacity: 0;
        visibility: hidden;
    }
    .about:hover > .sub-menu{
        opacity: 1;
        /* height: 100%; */
        visibility: visible;
        /* background-color: red; */
    }
    .hamburger{
        display: flex;
        margin-right: 20px;
        cursor: pointer;
    }
}

